{% extends '@App/page/page-templates/_edit.html.twig' %}

{% block main_inner %}
    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-7xl mx-auto">
        {% block edit_header %}
            <div class="mb-8">
                <h1 class="text-2xl md:text-3xl text-gray-200 font-bold">Dein Profil bearbeiten:</h1>
            </div>
        {% endblock %}

        {% block edit_content %}
            <div class="bg-slate-800 shadow-lg rounded-sm mb-8">
                <div class="flex flex-col md:flex-row md:-mr-px">
                    {% include '@App/page/profile/aside-navigation.html.twig' %}
                    <div class="grow">
                        {{ form_start(form) }}
                        {% block edit_content_form %}
                            <div class="py-6 px-10 space-y-6 min-h-[340px]">
                                {{ form_widget(form) }}

                                <div class="rounded-md bg-blue-100 p-4">
                                    <div class="flex">
                                        <div class="flex-shrink-0">
                                            <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm font-medium text-blue-700">Bitte beachte, dass du automatisch ausgeloggt wirst, wenn du dein Passwort änderst.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        {% block edit_content_submit %}
                            <div class="flex flex-col px-6 py-5 border-t border-slate-600">
                                <div class="flex self-end">
                                    <a href="{{ path('index') }}" class="btn border-slate-400 hover:border-slate-500 text-slate-400">abbrechen</a>
                                    <button type="submit" class="btn btn-primary ml-3">Passwort speichern</button>
                                </div>
                            </div>
                        {% endblock %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
